<p style="color: green"><%= notice %></p>

<%= render @task %>

<p>
  <strong>Image:</strong>
  <%= image_tag @task.image.variant(resize_to_limit: [800, 800]) if @task.image.present? %>
</p>

<div>
  <%= link_to "Edit", edit_task_path(@task) %> |
  <%= link_to "Back", tasks_path %>

  <%= button_to "Destroy this task", @task, method: :delete %>
</div>
